In [1]:
import pandas as pd
dataSet=pd.read_csv("file.csv")
dataSet.head()

,S.no,Gender,Sugar_Level,Blood_component_A,Blood_component_B,Blood_component_C,Height,Blood_component_D
0,0,Male,150,6.987503,3.125571,8.515168,190,-10.179726
1,1,Male,150,-2.400811,5.886076,1.445175,190,9.303857
2,2,Male,150,7.225148,6.240692,8.707427,190,-10.026728
3,3,Male,150,4.653442,1.291124,-0.540128,190,1.554792
4,4,Male,150,6.383007,6.388507,7.101920,190,-10.369927

In [2]:
dataSet.describe()

,S.no,Sugar_Level,Blood_component_A,Blood_component_B,Blood_component_C,Height,Blood_component_D
count,500.000000,500.000000,498.000000,499.000000,499.000000,500.000000,499.000000
mean,249.500000,165.000000,3.977813,0.694077,1.713523,187.500000,0.087345
std,144.481833,15.187538,3.853424,5.475359,5.903355,2.502504,6.160326
min,0.000000,150.000000,-4.378493,-11.573892,-10.798653,185.000000,-11.774564
25%,124.750000,150.000000,2.208710,-1.917297,-0.322908,185.000000,-2.301070
50%,249.500000,170.000000,4.224831,1.864614,1.546781,187.500000,0.377616
75%,374.250000,170.000000,7.134335,5.518658,7.146152,190.000000,2.331125
max,499.000000,190.000000,10.802400,9.005476,9.856504,190.000000,11.178319

Checking for null values

In [3]:
dataSet.isna().sum()

S.no                 0
Gender               0
Sugar_Level          0
Blood_component_A    2
Blood_component_B    1
Blood_component_C    1
Height               0
Blood_component_D    1
dtype: int64

Since there are null values try to remove them

In [4]:
dataSet["Blood_component_A"]=dataSet["Blood_component_A"].fillna(dataSet["Blood_component_A"].median())
dataSet["Blood_component_B"]=dataSet["Blood_component_B"].fillna(dataSet["Blood_component_B"].median())
dataSet["Blood_component_C"]=dataSet["Blood_component_C"].fillna(dataSet["Blood_component_C"].median())
dataSet["Blood_component_D"]=dataSet["Blood_component_D"].fillna(dataSet["Blood_component_D"].median())

In [5]:
dataSet.isna().sum()

S.no                 0
Gender               0
Sugar_Level          0
Blood_component_A    0
Blood_component_B    0
Blood_component_C    0
Height               0
Blood_component_D    0
dtype: int64

In [6]:
dataSet.drop(["S.no","Height","Sugar_Level"],axis=1,inplace=True)
dataSet['Gender']=dataSet['Gender'].replace("Male",1).replace("Female",0)
dataSet.head()

,Gender,Blood_component_A,Blood_component_B,Blood_component_C,Blood_component_D
0,1,6.987503,3.125571,8.515168,-10.179726
1,1,-2.400811,5.886076,1.445175,9.303857
2,1,7.225148,6.240692,8.707427,-10.026728
3,1,4.653442,1.291124,-0.540128,1.554792
4,1,6.383007,6.388507,7.101920,-10.369927

In [9]:
labels=dataSet["Gender"]
labels

0      1
1      1
2      1
3      1
4      1
      ..
495    0
496    0
497    0
498    0
499    0
Name: Gender, Length: 500, dtype: int64

In [10]:
dataSet.drop(["Gender"],axis=1,inplace=True)
dataSet.head()

   Blood_component_A  Blood_component_B  Blood_component_C  Blood_component_D
0           6.987503           3.125571           8.515168         -10.179726
1          -2.400811           5.886076           1.445175           9.303857
2           7.225148           6.240692           8.707427         -10.026728
3           4.653442           1.291124          -0.540128           1.554792
4           6.383007           6.388507           7.101920         -10.369927

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(dataSet, labels, test_size = 0.30, random_state = 10)

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 10)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=10)

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[34 41]
 [39 36]]

In [15]:

from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.4666666666666667