## Lab Assignment-01 and 02

#### 1.  L is a list defined as L= [11, 12, 13, 14].

i. WAP to add 50 and 60 to L.

In [1]:
L= [11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

ii. WAP to remove 11 and 13from L.

In [2]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

iii. WAP to sort L in descending order.

In [3]:
L.sort(reverse=True) # descending sorted to check
print(L)

[60, 50, 14, 12]

iv. WAP to sort L in ascending order.

In [4]:
L.sort()
print(L)

[12, 14, 50, 60]

v. WAP to search for 13 in L.

In [5]:
L=[11,12,13,14]

if 13 in L:
    print("13 is present in list")

13 is present in list

vi. WAP to count the number of elements present in L.

In [6]:
L=[11,12,13,14]

print(len(L))

4

vii. WAP to sum all the elements in L.

In [7]:
L=[11,12,13,14]
sum=0
for i in L:
    sum=sum+i
print(sum)

50

viii. WAP to sum all ODD numbers in L.

In [8]:
L=[11,12,13,14]
sum=0
for i in L:
    if i%2!=0:
        sum=sum+i
print(sum)

24

ix. WAP to sum all EVEN numbers in L.

In [9]:
L=[11,12,13,14]
sum=0
for i in L:
    if i%2==0:
        sum=sum+i
print(sum)

26

x. WAP to sum all PRIME numbers in L.

In [10]:

def primeNumber(num):
    flag = False
    if num > 1:
        # check for factors
        for i in range(2, num):
            if (num % i) == 0:
                # if factor is found, set flag to True
                flag = True
            # break out of loop
                break
    # check if flag is True
    if flag:
        return False
    else:
        return True

L=[11,12,13,14]
sum=0
for i in L:
    if(primeNumber(i)):
        sum=sum+i
print(sum)

24

xi. WAP to clear all the elements in L.

In [11]:
L=[11,12,13,14]
print(L)
L.clear()
print(L)

[11, 12, 13, 14]
[]

xii. WAP to delete L.

In [12]:
L=[11,12,13,14]
print(L)
del L
# print(L) would print error
# [11, 12, 13, 14]
# ---------------------------------------------------------------------------
# NameError                                 Traceback (most recent call last)
# Input In [12], in <cell line: 4>()
#       2 print(L)
#       3 del L
# ----> 4 print(L)

# NameError: name 'L' is not defined

[11, 12, 13, 14]

### 2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

i. WAP to add new entry in D; key=8 and value is 8.8

In [13]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

ii. WAP to remove key=2.

In [14]:
D.pop(2)
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

iii. WAP to check weather 6 key is present in D

In [15]:
if 6 in D:
    print("Value present in Dictionary")
    print(D[6])
else:
    print("Key absent in Dictionary")

Key absent in Dictionary

iv. WAP to count the number of elements present in D.

In [16]:
print(len(D))

5

v. WAP to add all the values present D.

In [17]:
sum=0;
for i in D:
    sum=sum+D[i]
print(sum)

37.4

vi. WAP to update the value of 3 to 7.1.

In [18]:
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

vii. WAP to clear the dictionary.

In [19]:
D.clear()
print(D)

{}

#### Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].

####       S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

i. WAP to add 55 and 66 in Set S1

In [20]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

S1.add(55)
S1.add(66)

print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

ii. WAP to remove 10 and 30 from Set S1.

In [21]:
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

iii. WAP to check whether 40 is present in S1

In [22]:
flag=False
for i in S1:
    if(i==40):
        flag=True

if(flag):
    print("40 is present")
else:
    print("Absent")

40 is present

iv. WAP to find the union between S1 and S2

In [23]:
print(S1.union(S2))

{66, 70, 40, 80, 50, 20, 55, 90, 60}

v. WAP to find the intersection between S1 and S2.

In [24]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

print(S1.intersection(S2))

{40, 50, 60}

vi. WAP to find the S1 - S2

In [25]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

print(S1-S2)

{10, 20, 30}

#### Q4. Write the following program.

i. WAP to print 100 random strings whose length between 6 and 8.

In [26]:
import random  
import string
for i in range(100):
    result = ''.join((random.choice(string.ascii_lowercase) for x in range(random.randint(6,8))))
    print(result,end=" ")

qlcvflv ckcywzsq ihgpovf whoenckm mouupgw exojesr ombhohe oylyifw yvgdeb fgobvuop egagqzjy jctjxz ofypil sjamrsng rssrljyx wyprco geopezkn pmcmcxo oalvjfjh ywsulxt kgszvd sfbnxwz vpbxekla pmyfngy pvlizo wgykxoe aykayf yajfso zimgmus fahaodv mezrvd mjhbdiuc zmherdm abyjyxmc kzkojnh qnubkg hllplrql qvdqoaa vtptxh qvdvvib filrfcpb vcjfsfvc eqgteueu kljsfya fxvxnag iospppv sfhnruph cjhpolef xqagpti wwkonpz xehytsl sgwdqhax rnsemxv ukxoaa syledoay aiqzaisb trcshgo uvjaiilu tyzevz vkymqcc bdwwwh nzyligrr qvnsohck lzygmoyt soipyrp drvmoel rshbeng owfgsr pjbmorav yomnkc rsxkjawf kuehsmcp xstdon riwmeqfo cchysr sahsfyh ecsxkc blowapg ayvqftm zkeyii zpkcxzb sxsulxt mambems gqoptn nnaxxj fsammwz ssrwixhb gnxotgl tmrdhqdd pcgwsn ztqagip ldrajr lyerlh fkkfsvws kwlkvo ekoleqbp xnqudg nsrmfps hdhfbxiu lmyrmta

ii. WAP to print all prime numbers between 600 and 800.

In [27]:
for i in range(600,800):
    if(primeNumber(i)):
        print(i,end=" ")

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

iii. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [28]:
def divisibleBy(num):
    if(num%7==0 and num%9==0):
        return True
    else:
        return False

for i in range(100,1000):
    if(divisibleBy(i)):
        print(i,end=" ")

126 189 252 315 378 441 504 567 630 693 756 819 882 945

#### Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

In [29]:
rand_list1=[]
rand_list2=[]
n=10
for i in range(n):
    rand_list1.append(random.randint(10,30))
    rand_list2.append(random.randint(10,30))
print(rand_list1)
print(rand_list2)

[19, 24, 13, 19, 20, 27, 20, 25, 21, 24]
[10, 16, 14, 11, 22, 15, 14, 18, 27, 25]

i. Common numbers in the two lists

In [30]:
set1=set({})
set2=set({})

print(rand_list1)
print(rand_list2)

for i in rand_list1:
    set1.add(i)
for j in rand_list2:
    set2.add(j)


print(set1.intersection(set2))

[19, 24, 13, 19, 20, 27, 20, 25, 21, 24]
[10, 16, 14, 11, 22, 15, 14, 18, 27, 25]
{25, 27}

ii. Unique numbers in both the list

In [31]:
set1=set({})
set2=set({})

print(rand_list1)
print(rand_list2)

for i in rand_list1:
    set1.add(i)
for j in rand_list2:
    set2.add(j)


print(set1.symmetric_difference(set2))

[19, 24, 13, 19, 20, 27, 20, 25, 21, 24]
[10, 16, 14, 11, 22, 15, 14, 18, 27, 25]
{10, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 24}

iii. Minimum in both the list

In [32]:
listUnion=rand_list1+rand_list2
print(listUnion)
print(min(listUnion))

# OR
# listUnion.sort()
# print(listUnion)
# print(listUnion[0])

[19, 24, 13, 19, 20, 27, 20, 25, 21, 24, 10, 16, 14, 11, 22, 15, 14, 18, 27, 25]
10

iv. Maximum in both the list

In [33]:
print(listUnion)
print(max(listUnion))

[19, 24, 13, 19, 20, 27, 20, 25, 21, 24, 10, 16, 14, 11, 22, 15, 14, 18, 27, 25]
27

v. Sum of both the lists

In [34]:
print(listUnion)
sumMax=0
for i in listUnion:
    sumMax=sumMax+i
print(sumMax)

[19, 24, 13, 19, 20, 27, 20, 25, 21, 24, 10, 16, 14, 11, 22, 15, 14, 18, 27, 25]
384

#### Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

In [35]:
listOfHundred=[]
for i in range(100):
    listOfHundred.append(random.randint(100,900))

print(listOfHundred)

[149, 610, 734, 350, 432, 850, 685, 697, 861, 586, 178, 712, 129, 174, 672, 120, 602, 474, 622, 755, 358, 525, 656, 612, 660, 264, 632, 708, 221, 172, 178, 530, 547, 299, 719, 798, 789, 889, 186, 220, 717, 687, 729, 131, 839, 555, 766, 431, 634, 304, 180, 637, 792, 532, 582, 248, 632, 534, 161, 107, 341, 187, 180, 133, 722, 125, 394, 456, 559, 815, 823, 609, 186, 282, 755, 615, 531, 511, 836, 376, 721, 227, 259, 815, 889, 203, 259, 190, 401, 589, 228, 255, 192, 751, 618, 145, 568, 354, 595, 637]

i. All odd numbers

In [36]:
for i in listOfHundred:
    if(i%2!=0):
        print(i, end =" ")

149 685 697 861 129 755 525 221 547 299 719 789 889 717 687 729 131 839 555 431 637 161 107 341 187 133 125 559 815 823 609 755 615 531 511 721 227 259 815 889 203 259 401 589 255 751 145 595 637

ii. All even numbers

In [37]:
for i in listOfHundred:
    if(i%2==0):
        print(i, end =" ")

610 734 350 432 850 586 178 712 174 672 120 602 474 622 358 656 612 660 264 632 708 172 178 530 798 186 220 766 634 304 180 792 532 582 248 632 534 180 722 394 456 186 282 836 376 190 228 192 618 568 354

iii. All prime numbers

In [38]:
for i in listOfHundred:
    if(primeNumber(i)):
        print(i, end =" ")

149 547 719 131 839 431 107 823 227 401 751

#### Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. WAP to read all the keys and values from dictionary and write to the file in the given below format.

 Key1, Value1
 
 Key2, Value2
 
 Key3, Value3

In [39]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for i in D:
    print(i,",",D[i])

1 , One
2 , Two
3 , Three
4 , Four
5 , Five

#### Q8. L is a list defined as L={"One","Two","Three","Four","Five"}. WAP to count the length of each element from a list and write to the file in the given below format:

 One, 3
 
 Two, 3
 
 Four, 4

In [40]:
L={"One","Two","Three","Four","Five"}
for i in L:
    print(i,",",len(i))

Two , 3
Four , 4
Three , 5
Five , 4
One , 3

#### Q9. Write to the file 100 random strings whose length between 10 and 15

In [41]:
import random
import string

f = open("question9.txt", "a")
for i in range(100):
    result = ''.join((random.choice(string.ascii_lowercase) for x in range(random.randint(10,15))))
#     print(i,result,end=" ")
    f.write(str(i)+" "+result+"  ")
f.close()
f = open("question9.txt", "r")
print(f.read())

0 mldzukeujpljh  1 nqpnsrvwynt  2 tnyublfjwlawx  3 fsxqubnoup  4 nfvyeejozcldwbg  5 oxphhuykvnabx  6 bctjdpyuhl  7 navrxbaeblmfddc  8 zlhsawmfzzugi  9 nvlbfrtuqhcag  10 dlxvehewgns  11 jzgmlidfsrx  12 wmbbhlumcaaikmv  13 nqpqshatdsmaixb  14 zskfhbtrwflwyd  15 gnexhzbrrdyzan  16 wajqfxtupie  17 dgdrbjmuttnuwwn  18 wivjwtbvduj  19 drsbejxqtlomchc  20 qpwutunesbknitg  21 temmezstcsl  22 rwgmtbxbpzv  23 mhhfsixxsuaku  24 tylgrzmkhasdbe  25 vqcowqvusjljx  26 rwxrpwmbwkea  27 lcnksmkgkewug  28 lodmkojnnlknoh  29 bpocpxcmbnbyin  30 fissgxmyqrsvz  31 vsoglnhzuaao  32 pcmtyzbmvym  33 vgxioloxny  34 yzeqsrfzdn  35 vmfzbzgejxkwchv  36 qoislnnowxnecvv  37 xapsnobhye  38 bhxpkjxywvyz  39 jzmuirswuviphau  40 xdyacvtkinkzn  41 cwaketwrgoriudl  42 uzgbyrtqrc  43 xjfgtauohbpe  44 tfmgwebvuce  45 qkzpynkaahwbux  46 afaprxwibhri  47 tyqvskvrarkjhbh  48 dccyvszkxof  49 lofmvwdxpvwa  50 bukbawtjcrd  51 cxmxwjmepm  52 hmmjbatcwc  53 zrmebylatlba  54 lrorhyscmdp  55 cksxucdareh  56 wszrvjgqnms  57 sggrlkvcgpkfwks  58 rsgladrvdugamza  59 wcswjpqfsujef  60 oiinbqfezd  61 ejfsvnwhipx  62 gfduuemkjkwkhoi  63 swywfwhddlb  64 vbhuasceofccrye  65 frvtntifxb  66 zvkcvfzayejaqw  67 kddxjrssafhdcrt  68 syhyyhgwlpbgq  69 kazugzxgcxfjrt  70 xkbcuwswrcjatc  71 fwlcurzutsh  72 vvfrtgimnvvcrc  73 kfzqmrzgvouqk  74 arztiqoqsi  75 oxvddzunpaufkl  76 gpijmkvrbdwxl  77 dtiigraped  78 enntknktjuyyz  79 xeufateeirobfh  80 dzrghmvimrbb  81 xnzocrhosddlvx  82 xpqntavlhwtkm  83 aqztlvstulbx  84 ylnizvlgylwrd  85 gidovcgmgumj  86 aaoeqtkxdfpfdr  87 rblwbvqshfa  88 iwifligklxi  89 upgnxvraghfkwyh  90 zzaqjzdyjqsms  91 mbqlbxbhjh  92 puvfnqafhby  93 nqjncgupjb  94 pzonqifgolxxw  95 ftbcfcunrpqhse  96 wwumsvucxdtarxw  97 svlwbutgkyn  98 aiuqqirjpzynpi  99 orbwsqrsxsrholz

#### Q10. Write to the file all prime numbers between 600 and 800.

In [42]:
f = open("question10.txt", "a")
for i in range(600,800):
    if(primeNumber(i)):
        f.write(str(i)+" ")
f.close()
f = open("question10.txt", "r")
print(f.read())

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

#### Q11. WAP to calculate the time taken by a program.

In [43]:
import time
begin = time.time()
for i in range(5):
    print(i,end=" ")
print()
end=time.time()
print(begin,end,end-begin)

0 1 2 3 4
1661781841.0086985 1661781841.0091414 0.0004429817199707031

#### Q12. WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.

In [44]:
import random  
students={}
maxNum=0
maxNumStudent=""
minNum=1000
minNumStudent=""
for i in range(10):
    marks={"English":random.randint(50,100),"Hindi":random.randint(50,100),
           "Maths":random.randint(50,100),"CSE":random.randint(50,100),
           "EE":random.randint(50,100)}
    students["student "+str(i+1)]=marks

for student in students:
    sumOfMarks=students[student]['English']+students[student]['Hindi']
    +students[student]['Maths']+students[student]['CSE']+students[student]['EE']
    averageMarksOfStudent=sumOfMarks/5
#     print("averageMarksOfStudent:",averageMarksOfStudent)
    if(averageMarksOfStudent>=maxNum):
        maxNum=averageMarksOfStudent
        maxNumStudent=student
#         print("Max=",maxNum,"maxNumStudent=",maxNumStudent)
    if(averageMarksOfStudent<=minNum):
        minNum=averageMarksOfStudent
        minNumStudent=student
#         print("Min=",minNum,"minNumStudent=",minNumStudent)
for student in students:
    print(students[student])
print("Max Average=",maxNum,"Min Average=",minNum)
print("Max Average Student=",maxNumStudent,"Min Average Student=",minNumStudent)

{'English': 69, 'Hindi': 74, 'Maths': 83, 'CSE': 77, 'EE': 74}
{'English': 80, 'Hindi': 91, 'Maths': 98, 'CSE': 81, 'EE': 75}
{'English': 95, 'Hindi': 82, 'Maths': 66, 'CSE': 92, 'EE': 70}
{'English': 52, 'Hindi': 61, 'Maths': 78, 'CSE': 56, 'EE': 95}
{'English': 54, 'Hindi': 86, 'Maths': 87, 'CSE': 96, 'EE': 51}
{'English': 77, 'Hindi': 52, 'Maths': 67, 'CSE': 96, 'EE': 72}
{'English': 53, 'Hindi': 96, 'Maths': 87, 'CSE': 55, 'EE': 96}
{'English': 95, 'Hindi': 71, 'Maths': 82, 'CSE': 68, 'EE': 54}
{'English': 62, 'Hindi': 77, 'Maths': 79, 'CSE': 60, 'EE': 59}
{'English': 96, 'Hindi': 50, 'Maths': 73, 'CSE': 82, 'EE': 58}
Max Average= 35.4 Min Average= 22.6
Max Average Student= student 3 Min Average Student= student 4

#### Q13. WAP to sort the following number of elements in a list and calculate time taken.

| Number of elements in list | Time Taken to sort |
| --- | ----------- |
| 5k | T1 |
| 10k | T2 |
| 15k | T3 |
| 20k | T4 |
| 25k | T5 |

In [45]:
listOf5k=[]
listOf10k=[]
listOf15k=[]
listOf20k=[]
listOf25k=[]
for i in range(5000):
    listOf5k.append(random.randint(0,1000))
for i in range(10000):
    listOf10k.append(random.randint(0,1000))
for i in range(15000):
    listOf15k.append(random.randint(0,1000))
for i in range(20000):
    listOf20k.append(random.randint(0,1000))
for i in range(25000):
    listOf25k.append(random.randint(0,1000))
begin = time.time()
listOf5k.sort()
end = time.time()
print("5k sort time",end-begin)
begin = time.time()
listOf10k.sort()
end = time.time()
print("10k sort time",end-begin)
begin = time.time()
listOf15k.sort()
end = time.time()
print("15k sort time",end-begin)
begin = time.time()
listOf20k.sort()
end = time.time()
print("20k sort time",end-begin)
begin = time.time()
listOf25k.sort()
end = time.time()
print("25k sort time",end-begin)

5k sort time 0.0005657672882080078
10k sort time 0.0010900497436523438
15k sort time 0.002070903778076172
20k sort time 0.0022361278533935547
25k sort time 0.003155946731567383