## Python Basic

### Arrays

| Method	| Description |
| ----------- | ----------- |
|append()	|Adds an element at the end of the list|
|clear()	|Removes all the elements from the list|
|copy()	|Returns a copy of the list|
|count()	|Returns the number of elements with the specified value|
|extend()	|Add the elements of a list (or any iterable), to the end of the current list|
|index()	|Returns the index of the first element with the specified value|
|insert()	|Adds an element at the specified position|
|pop()	|Removes the element at the specified position|
|remove()	|Removes the first item with the specified value|
|reverse()	|Reverses the order of the list|
|sort()	|Sorts the list|

In [2]:
cars = ["Ford", "Volvo", "BMW"]
cars

['Ford', 'Volvo', 'BMW']

In [3]:
# Get the value of the first array item:

x = cars[2]
x

'BMW'

In [4]:
# Modify the value of the first array item:

cars[0] = "Toyota"
cars

['Toyota', 'Volvo', 'BMW']

In [5]:
# number of elements in the array:

x = len(cars)
x

3

In [6]:
# Looping through the array
for x in cars:
    print(x)

Toyota
Volvo
BMW

In [7]:
# Add element to the array:

cars.append("Honda")
cars

['Toyota', 'Volvo', 'BMW', 'Honda']

In [8]:
# Delete element of the array:

cars.pop(1)
cars

['Toyota', 'BMW', 'Honda']

In [9]:
# Remove specific element
cars = ["Ford", "Volvo", "BMW"]
cars.remove("BMW")
cars
# remove() method only removes the first occurrence of the specified value.

['Ford', 'Volvo']

In [36]:
cars.append(10) #can add any other datatype to same list
cars

['Ford', 'Volvo', 10, 10]

## Sorting list/array

In [12]:
L=[10,20,30,40,15,25,35]
L.sort()# in ascending 
L

[10, 15, 20, 25, 30, 35, 40]

In [13]:
L.sort(reverse=True) #in decending
L

[40, 35, 30, 25, 20, 15, 10]

### Iterating array

In [15]:
for i in L: #foreach kind a loop that takes elements
    print(i)

40
35
30
25
20
15
10

In [20]:
L.append(10)
print(L)
L.count(10) #no. of element 10

[40, 35, 30, 25, 20, 15, 10, 10, 10, 10]

4

### Length of array/ no. of elements

In [21]:
len(L)

10

In [23]:
for i in range(len(L)):
    print(i,L[i]) # printing index and element in that index

0 40
1 35
2 30
3 25
4 20
5 15
6 10
7 10
8 10
9 10

### Gobal variables

In [25]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is fun " + x)

def myfunc2():
  print("Python is func2 " + x)

myfunc()
myfunc2()

print("Python is " + x)

Python is fun fantastic
Python is func2 awesome
Python is awesome

### Random number

In [27]:
import random

print(random.randrange(1, 10)) #display a random number between 1 and 9

6

In [32]:
t=2
p=str(t)
print(p+" hello")
# print(t+" hello") #unsupported operand type(s) for +: 'int' and 'str'

2 hello

### Multiple line string

In [33]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

In [37]:
a = "Hello, World!"
print(a[1])

e

In [35]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### Boolean

In [40]:
print(bool("Hello"))
print(bool(15))
print(bool(0))
print(bool(-1))

True
True
False
True

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [41]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [42]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Assignment Operators


|Operator	|Name|	Example|
|-----------|-----|--------|
|+	|Addition	|x + y|	
|-	|Subtraction|	x - y	|
|*	|Multiplication|	x * y	|
|/	|Division	|x / y	|
|%	|Modulus	|x % y	|
|**	|Exponentiation|	x ** y	|
|//|	Floor division|	x // y  |

Logical operators:

and , or ,not

#### Set
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [43]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

1. Set Items:
Set items are unordered, unchangeable, and do not allow duplicate values.

2. Unordered:
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

3. Unchangeable:
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [45]:
thisset = {"apple", "banana", "cherry", "apple"}
print(len(thisset))
print(thisset)

3
{'cherry', 'banana', 'apple'}

In [48]:
set1 = {"abc", 34, True, 40, "male"}
print(type(set1))

<class 'set'>

In [51]:
# Using Set constructor
thisset = set(("apple", "banana", "cherry", "banana")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [52]:
# Access elements from set
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [56]:
# Add element,set,array to the set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [54]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'banana', 'cherry', 'pineapple', 'apple'}

In [55]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'orange', 'cherry', 'apple'}

In [57]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [60]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

# del thisset

# print(thisset)

set()

##### Join Set

In [61]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 'c', 1, 2, 3, 'b'}

In [62]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 'c', 1, 2, 3, 'b'}

In [63]:
# Intersection between 2 sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [64]:
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) #requires new set, original set not changed

print(z)
print(x)
print(y)

{'apple'}
{'cherry', 'banana', 'apple'}
{'apple', 'microsoft', 'google'}

In [65]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'google', 'cherry'}

In [66]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) # requires new set

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

### Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [69]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict) #year is updated to 2020

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [71]:
print(len(thisdict)) #number of items in the dictionary

3

In [74]:
# Access elements from dict

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
x = thisdict.get("brand")
print(x)

Mustang
Ford

In [75]:
x = thisdict.keys() #list of keys
print(x)

dict_keys(['brand', 'model', 'year'])

In [76]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [78]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [79]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [80]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [84]:
# update dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [83]:
# remove item from dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [87]:
for x in thisdict:
  print(x) #key
  print(thisdict[x]) #values

brand
Ford
model
Mustang
year
2020

In [88]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2020

In [91]:
# Nested Dict
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

### If Else Condition

In [94]:
a = 33
b = 32
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a > b")

a > b

In [95]:
# and / or with if

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [96]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [97]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [98]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [99]:
for x in range(2, 30, 3):
  print(x,end=" ")

2 5 8 11 14 17 20 23 26 29

### Function

In [100]:
def my_function():
  print("Hello from a function")

In [102]:
my_function()

Hello from a function

In [103]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [104]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

### Class and object

In [106]:
#Creating class
class MyClass:
  x = 5
#Object for class
p1 = MyClass()
print(p1.x)

5

All classes have a function called **\_\_init__()**, which is always executed when the class is being initiated.

Use the **\_\_init__()** function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [107]:
class Person:
  def __init__(self, name, age): # init function is like a constructor
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

The \_\_str__() function controls what should be returned when the class object is represented as a string.

If the \_\_str__() function is not set, the string representation of the object is returned:

In [110]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

class Person1: #without str (return function)
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)
p2 = Person1("John", 36)

print(p1)
print(p2)

John(36)
<__main__.Person1 object at 0x7f6f3426b4c0>